name: Update README

on:
  push:
    paths:
      - '../../solutions/키패드 누르기/review.md'

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3  # v2에서 v3으로 업데이트
      - name: Set up Python
        uses: actions/setup-python@v4  # v2에서 v4로 업데이트
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install PyGithub
      - name: Run update script
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: python update_readme.py
      - name: Commit changes
        run: |
          git config --local user.email "pelikan@pusan.ac.kr"
          git config --local user.name "Kim Sanghae"
          git add README.md
          git diff --quiet && git diff --staged --quiet || git commit -m "chore: update README.md"
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
